<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Employee Records</title>  
    {% load static %}  <!--staticfiles-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>  
<body>
<table class="table table-striped table-bordered table-sm" align="center">
    <tr>
        <td>
            <img src="{% static 'images/favicon.ico' %}" width="200px" height="150px">
        </td>
        <td>
            <img src="{% static 'images/Naseem_DevOpsSec_Banner.png' %}" width="600px" height="150px">
        </td>
    </tr>    
</table>
{% if user.is_authenticated %}
<table class="table table-striped table-bordered table-sm" align="center">
    <tr>
        <td align="left">
            Hi {{ user.username }}!
        </td>
        <td align="right">
            <a href="{% url 'logout' %}">Log Out</a>
        </td>
    </tr>    
</table>  
<table class="table table-striped table-bordered table-sm" align="center">  
    <thead class="thead-dark">  
    <tr>  
        <th>Employee ID</th>  
        <th>Employee Name</th>  
        <th>Employee Email</th>  
        <th>Employee Contact</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
    {% for employee in employees %}  
    <tr>  
        <td>{{ employee.eid }}</td>  
        <td>{{ employee.ename }}</td>  
        <td>{{ employee.eemail }}</td>  
        <td>{{ employee.econtact }}</td>  
        <td>  
            <a href="/edit/{{ employee.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/delete/{{ employee.id }}">Delete</a>  
        </td>  
    </tr>  
    {% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/emp" class="btn btn-primary">Add New Record</a></center> 
{% else %}
<table class="table table-striped table-bordered table-sm" align="center">
    <tr>
        <td>
            You are not logged in
        </td>
        <td>
            <a href="{% url 'login' %}">Log In</a>
        </td>
    </tr>    
</table>  
{% endif %} 
</body>  
</html> 